/*-----------------------------
  MIXINS
-----------------------------*/
/*------------------------
  Fonts
------------------------*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700,900");
/*------------------------
  Colors
------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(6, 10, 46, 0.8);
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body:before {
  content: '';
  border: 1px solid rgba(6, 10, 46, 0.05);
  position: absolute;
  width: calc(100vw - 110px);
  height: calc(100vh - 110px);
  transform: translate(55px, 55px);
}

.visible-scrollbar, .invisible-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/*------------------------
  Links
------------------------*/
a {
  font-size: 10px;
  font-weight: 400;
  color: rgba(6, 10, 46, 0.8);
  text-decoration: none;
}

/*------------------------
  Buttons
------------------------*/
button {
  outline: none;
}

.btn {
  display: inline-block;
  border: 1px solid rgba(6, 10, 46, 0.1);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #2286B6;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 14px rgba(6, 10, 46, 0.1);
}
