/*-----------------------------
  MIXINS
-----------------------------*/
/*------------------------
  Fonts
------------------------*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700,900");
/*------------------------
  Colors
------------------------*/
/*-----------------------------
  MIXINS
-----------------------------*/
/*------------------------
  Fonts
------------------------*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700,900");
/*------------------------
  Colors
------------------------*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700,900");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700,900");
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-moz-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-o-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideRightBis {
  0% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-moz-keyframes slideRightBis {
  0% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-o-keyframes slideRightBis {
  0% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideRightBis {
  0% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
  }
}

@-moz-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
  }
}

@-o-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 0;
  }
}

@-webkit-keyframes slideLeftBis {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
}

@-moz-keyframes slideLeftBis {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
}

@-o-keyframes slideLeftBis {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
}

@keyframes slideLeftBis {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
  }
}

@-webkit-keyframes slideTop {
  0% {
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@-moz-keyframes slideTop {
  0% {
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@-o-keyframes slideTop {
  0% {
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideBottom {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 1;
  }
}

@-moz-keyframes slideBottom {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 1;
  }
}

@-o-keyframes slideBottom {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes shadowDropIn {
  0% {
    text-shadow: 0 0 0 rgba(6, 10, 46, 0.1);
  }
  100% {
    text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  }
}

@-moz-keyframes shadowDropIn {
  0% {
    text-shadow: 0 0 0 rgba(6, 10, 46, 0.1);
  }
  100% {
    text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  }
}

@-o-keyframes shadowDropIn {
  0% {
    text-shadow: 0 0 0 rgba(6, 10, 46, 0.1);
  }
  100% {
    text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  }
}

@keyframes shadowDropIn {
  0% {
    text-shadow: 0 0 0 rgba(6, 10, 46, 0.1);
  }
  100% {
    text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  }
}

@-webkit-keyframes shadowDropOut {
  0% {
    text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  }
  100% {
    text-shadow: 0 0 0 rgba(6, 10, 46, 0.1);
  }
}

@-moz-keyframes shadowDropOut {
  0% {
    text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  }
  100% {
    text-shadow: 0 0 0 rgba(6, 10, 46, 0.1);
  }
}

@-o-keyframes shadowDropOut {
  0% {
    text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  }
  100% {
    text-shadow: 0 0 0 rgba(6, 10, 46, 0.1);
  }
}

@keyframes shadowDropOut {
  0% {
    text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  }
  100% {
    text-shadow: 0 0 0 rgba(6, 10, 46, 0.1);
  }
}

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@-moz-keyframes bubble {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@-o-keyframes bubble {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes bubble {
  0% {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*-----------------------------
  MIXINS
-----------------------------*/
/*------------------------
  Fonts
------------------------*/
/*------------------------
  Colors
------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(6, 10, 46, 0.8);
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body:before {
  content: '';
  border: 1px solid rgba(6, 10, 46, 0.05);
  position: absolute;
  width: calc(100vw - 110px);
  height: calc(100vh - 110px);
  transform: translate(55px, 55px);
}

.visible-scrollbar, .invisible-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/*------------------------
  Links
------------------------*/
a {
  font-size: 10px;
  font-weight: 400;
  color: rgba(6, 10, 46, 0.8);
  text-decoration: none;
}

/*------------------------
  Buttons
------------------------*/
button {
  outline: none;
}

.btn {
  display: inline-block;
  border: 1px solid rgba(6, 10, 46, 0.1);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #2286B6;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 14px rgba(6, 10, 46, 0.1);
}

/*-----------------------------
  MIXINS
-----------------------------*/
/*------------------------
  Fonts
------------------------*/
/*------------------------
  Colors
------------------------*/
.menu-btn {
  width: 50px;
  height: 50px;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(6, 10, 46, 0.1);
  border-radius: 50%;
  position: absolute;
  z-index: 32;
  top: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-transition: box-shadow 0.4s ease-in-out;
  -moz-transition: box-shadow 0.4s ease-in-out;
  -ms-transition: box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
}

.menu-btn span {
  width: 20px;
  height: 2px;
  background: rgba(6, 10, 46, 0.8);
  display: block;
  text-align: center;
  margin: 25px auto;
}

.menu-btn span:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  box-shadow: 0 7px 0 rgba(6, 10, 46, 0.8);
}

.menu-btn span:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  box-shadow: 0 -9px 0 rgba(6, 10, 46, 0.8);
}

.menu-btn:hover {
  box-shadow: 0 2px 4px rgba(6, 10, 46, 0.2);
}

.links {
  margin: auto;
  background: #FFF;
  padding: 0 14px;
  height: 38px;
  line-height: 38px;
  position: absolute;
  z-index: 32;
  bottom: 38px;
  left: 50%;
  margin-left: -185px;
  border-radius: 2px;
}

.links a {
  position: relative;
  z-index: 10;
  margin: 0 15px;
  display: inline-block;
  line-height: 1em;
}

.links a span {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.links a:after {
  content: '';
  position: absolute;
  display: block;
  background: #2286B6;
  height: 10px;
  width: 100%;
  opacity: 0.1;
  left: 0;
  bottom: -4px;
  transform-origin: right center;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.links a.link--behance:after {
  background: #0057ff;
}

.links a.link--dribbble:after {
  background: #ea4c89;
}

.links a.link--linkedin:after {
  background: #0077B5;
}

.links a:hover span {
  -webkit-transform: translateX(-6px);
  -moz-transform: translateX(-6px);
  -ms-transform: translateX(-6px);
  -o-transform: translateX(-6px);
  transform: translateX(-6px);
}

.links a:hover:after {
  transform-origin: left center;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 0.2;
}

.home {
  position: relative;
  display: flex;
  z-index: 24;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
  background: #FFF;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.home.disable {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.home .home__presentation {
  width: 60%;
  margin-right: 35px;
}

.home .home__presentation h1 {
  font-size: 10px;
  color: rgba(6, 10, 46, 0.3);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0;
}

.home .home__presentation h1 span {
  color: #000;
}

.home .home__presentation p {
  font-size: 24px;
  font-weight: 300;
  margin: 15px 0;
}

.home img {
  height: auto;
  max-height: 60%;
  width: auto;
  max-width: 350px;
}

.projects__wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

/*------------------------
  Navigation
------------------------*/
.projects__navigation {
  position: absolute;
  z-index: 24;
  right: 29px;
  top: 50%;
  margin-top: -90px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.projects__navigation span.navigation__arrow {
  display: block;
  margin: 16px 0 0 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid rgba(6, 10, 46, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.projects__navigation span.navigation__arrow:hover {
  background: #2286B6;
  box-shadow: 0 2px 8px rgba(6, 10, 46, 0.1);
}

.projects__navigation span.navigation__arrow:hover:after {
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

.projects__navigation span.navigation__arrow:after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #2286B6;
  border-left: 1px solid #2286B6;
  -webkit-transform: translate(9px, 11px) rotate(45deg);
  -moz-transform: translate(9px, 11px) rotate(45deg);
  -ms-transform: translate(9px, 11px) rotate(45deg);
  -o-transform: translate(9px, 11px) rotate(45deg);
  transform: translate(9px, 11px) rotate(45deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.projects__navigation span.navigation__arrow--bottom {
  margin: 0 0 16px 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.projects__navigation div.navigation__number {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
}

.projects__navigation div.navigation__number p.number {
  margin: 4px;
  display: inline-flex;
  font-weight: 600;
}

.projects__navigation div.navigation__number p.number.number__active {
  font-size: 18px;
}

.projects__navigation div.navigation__number p.number.number__total {
  font-size: 12px;
}

.projects__navigation div.navigation__number span.number__separator {
  height: 1px;
  width: 100%;
  background: rgba(6, 10, 46, 0.1);
  margin: 4px 0;
}

/*------------------------
  Project
------------------------*/
.project {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  z-index: 0;
  display: none;
}

.project.enable {
  z-index: 16;
  display: flex;
}

#project-02 .project__visuel {
  background: linear-gradient(45deg, #F59E64, #EB5160);
}

.project__visuel {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  position: relative;
  z-index: 24;
  margin-right: 15px;
  background: linear-gradient(45deg, #1D7D90, #5dd5c3);
  background-size: 400% 400%;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(6, 10, 46, 0.2);
  -webkit-animation: 1s fadeOut ease-in-out forwards;
  -moz-animation: 1s fadeOut ease-in-out forwards;
  -ms-animation: 1s fadeOut ease-in-out forwards;
  -o-transition: 1s fadeOut ease-in-out forwards;
  animation: 1s fadeOut ease-in-out forwards;
}

.project__visuel.enable {
  -webkit-animation: 0.6s fadeIn ease-in-out forwards 0.6s;
  -moz-animation: 0.6s fadeIn ease-in-out forwards 0.6s;
  -ms-animation: 0.6s fadeIn ease-in-out forwards 0.6s;
  -o-transition: 0.6s fadeIn ease-in-out forwards 0.6s;
  animation: 0.6s fadeIn ease-in-out forwards 0.6s;
}

.project__visuel .visuel__mockup {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  max-width: 630px;
  width: 80%;
}

.project__visuel .visuel__mockup .mockup--desktop {
  max-width: 600px;
  width: 100%;
  position: relative;
  z-index: 8;
  opacity: 0;
  -webkit-animation: 0.4s slideLeft ease-in-out forwards;
  -moz-animation: 0.4s slideLeft ease-in-out forwards;
  -ms-animation: 0.4s slideLeft ease-in-out forwards;
  -o-transition: 0.4s slideLeft ease-in-out forwards;
  animation: 0.4s slideLeft ease-in-out forwards;
}

.project__visuel .visuel__mockup .mockup--desktop.enable {
  -webkit-animation: 0.6s slideRight ease-out forwards 0.6s;
  -moz-animation: 0.6s slideRight ease-out forwards 0.6s;
  -ms-animation: 0.6s slideRight ease-out forwards 0.6s;
  -o-transition: 0.6s slideRight ease-out forwards 0.6s;
  animation: 0.6s slideRight ease-out forwards 0.6s;
}

.project__visuel .visuel__mockup .mockup--mobile {
  max-width: 600px;
  width: 100%;
  position: absolute;
  z-index: 16;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: 0.4s slideLeft ease-in-out forwards;
  -moz-animation: 0.4s slideLeft ease-in-out forwards;
  -ms-animation: 0.4s slideLeft ease-in-out forwards;
  -o-transition: 0.4s slideLeft ease-in-out forwards;
  animation: 0.4s slideLeft ease-in-out forwards;
}

.project__visuel .visuel__mockup .mockup--mobile.enable {
  -webkit-animation: 0.6s slideRightBis ease-out forwards 0.6s;
  -moz-animation: 0.6s slideRightBis ease-out forwards 0.6s;
  -ms-animation: 0.6s slideRightBis ease-out forwards 0.6s;
  -o-transition: 0.6s slideRightBis ease-out forwards 0.6s;
  animation: 0.6s slideRightBis ease-out forwards 0.6s;
}

.project__visuel img:last-child {
  position: absolute;
  z-index: 5;
  height: auto;
  max-height: 500px;
  width: auto;
  max-width: 60%;
}

.project__description {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description__wrapper {
  position: relative;
  width: 80%;
  max-width: 400px;
  margin-left: -40px;
}

.description__wrapper .btn {
  margin-top: 40px;
  opacity: 0;
  -webkit-animation: 0.8s fadeOut ease-in-out forwards;
  -moz-animation: 0.8s fadeOut ease-in-out forwards;
  -ms-animation: 0.8s fadeOut ease-in-out forwards;
  -o-transition: 0.8s fadeOut ease-in-out forwards;
  animation: 0.8s fadeOut ease-in-out forwards;
}

.description__wrapper .btn.enable {
  -webkit-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
  -moz-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
  -ms-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
  -o-transition: 0.8s fadeIn ease-in-out forwards 0.6s;
  animation: 0.8s fadeIn ease-in-out forwards 0.6s;
}

.description__title {
  overflow: hidden;
  position: relative;
  padding: 8px 0;
  margin: 30px 0;
}

.description__title h2 {
  z-index: 10;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1;
  margin: 0;
  -webkit-transform: translateY(120%);
  -moz-transform: translateY(120%);
  -ms-transform: translateY(120%);
  -o-transform: translateY(120%);
  transform: translateY(120%);
  -webkit-animation: 0.6s slideBottom ease-out forwards;
  -moz-animation: 0.6s slideBottom ease-out forwards;
  -ms-animation: 0.6s slideBottom ease-out forwards;
  -o-transition: 0.6s slideBottom ease-out forwards;
  animation: 0.6s slideBottom ease-out forwards;
}

.description__title h2.enable {
  -webkit-animation: 0.6s slideTop ease-out forwards 0.8s;
  -moz-animation: 0.6s slideTop ease-out forwards 0.8s;
  -ms-animation: 0.6s slideTop ease-out forwards 0.8s;
  -o-transition: 0.6s slideTop ease-out forwards 0.8s;
  animation: 0.6s slideTop ease-out forwards 0.8s;
}

.description__number {
  position: absolute;
  display: block;
  top: -45px;
  left: -20px;
  z-index: -1;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 104px;
  color: #FFF;
  -webkit-animation: 0.6s shadowDropOut ease-out forwards;
  -moz-animation: 0.6s shadowDropOut ease-out forwards;
  -ms-animation: 0.6s shadowDropOut ease-out forwards;
  -o-transition: 0.6s shadowDropOut ease-out forwards;
  animation: 0.6s shadowDropOut ease-out forwards;
}

.description__number.enable {
  -webkit-animation: 0.6s shadowDropIn ease-out forwards 0.8s;
  -moz-animation: 0.6s shadowDropIn ease-out forwards 0.8s;
  -ms-animation: 0.6s shadowDropIn ease-out forwards 0.8s;
  -o-transition: 0.6s shadowDropIn ease-out forwards 0.8s;
  animation: 0.6s shadowDropIn ease-out forwards 0.8s;
}

.description {
  overflow: hidden;
}

.description p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 26px;
  color: rgba(6, 10, 46, 0.5);
  margin: 20px 0 0 0;
  -webkit-transform: translateY(125%);
  -moz-transform: translateY(125%);
  -ms-transform: translateY(125%);
  -o-transform: translateY(125%);
  transform: translateY(125%);
  -webkit-animation: 0.6s slideBottom ease-in-out forwards;
  -moz-animation: 0.6s slideBottom ease-in-out forwards;
  -ms-animation: 0.6s slideBottom ease-in-out forwards;
  -o-transition: 0.6s slideBottom ease-in-out forwards;
  animation: 0.6s slideBottom ease-in-out forwards;
}

.description p.enable {
  -webkit-animation: 0.6s slideTop ease-in-out forwards 0.8s;
  -moz-animation: 0.6s slideTop ease-in-out forwards 0.8s;
  -ms-animation: 0.6s slideTop ease-in-out forwards 0.8s;
  -o-transition: 0.6s slideTop ease-in-out forwards 0.8s;
  animation: 0.6s slideTop ease-in-out forwards 0.8s;
}

.description__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.description__info span {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 12px;
  color: rgba(6, 10, 46, 0.2);
  margin: 0;
  opacity: 0;
  -webkit-animation: 0.8s fadeOut ease-in-out forwards;
  -moz-animation: 0.8s fadeOut ease-in-out forwards;
  -ms-animation: 0.8s fadeOut ease-in-out forwards;
  -o-transition: 0.8s fadeOut ease-in-out forwards;
  animation: 0.8s fadeOut ease-in-out forwards;
}

.description__info span.enable {
  -webkit-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
  -moz-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
  -ms-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
  -o-transition: 0.8s fadeIn ease-in-out forwards 0.6s;
  animation: 0.8s fadeIn ease-in-out forwards 0.6s;
}

.description__info p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0;
  -webkit-transform: translateY(120%);
  -moz-transform: translateY(120%);
  -ms-transform: translateY(120%);
  -o-transform: translateY(120%);
  transform: translateY(120%);
  -webkit-animation: 0.6s slideBottom ease-in-out forwards;
  -moz-animation: 0.6s slideBottom ease-in-out forwards;
  -ms-animation: 0.6s slideBottom ease-in-out forwards;
  -o-transition: 0.6s slideBottom ease-in-out forwards;
  animation: 0.6s slideBottom ease-in-out forwards;
}

.description__info p.enable {
  -webkit-animation: 0.6s slideTop ease-in-out forwards 0.8s;
  -moz-animation: 0.6s slideTop ease-in-out forwards 0.8s;
  -ms-animation: 0.6s slideTop ease-in-out forwards 0.8s;
  -o-transition: 0.6s slideTop ease-in-out forwards 0.8s;
  animation: 0.6s slideTop ease-in-out forwards 0.8s;
}

.contact__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  z-index: 30;
  display: flex;
  background: #FFF;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.contact__wrapper.disable {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.contact__description {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__description .description__wrapper {
  max-width: 470px;
  margin-left: -40px;
}

.contact__description .description__title h2 {
  text-align: center;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-transition: none;
  animation: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.contact__description .description__number {
  text-align: center;
  width: 100%;
  left: 0;
  text-shadow: 0 0 20px rgba(6, 10, 46, 0.1);
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-transition: none;
  animation: none;
}

.contact__description .description p {
  text-align: center;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-transition: none;
  animation: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.contact__form {
  overflow: auto;
  display: flex;
  opacity: 1;
  flex-basis: 50%;
  position: relative;
  z-index: 24;
  background: linear-gradient(45deg, #1D7D90, #5dd5c3);
  background-size: 400% 400%;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(6, 10, 46, 0.2);
}

.contact__form form {
  margin: 0 80px 40px;
  width: calc(100% - 160px);
  position: relative;
  overflow-y: auto;
}

.bubble--group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.bubble--group:nth-child(1) {
  margin-top: 10%;
}

.bubble {
  display: none;
  background: #FFF;
  max-width: 300px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(6, 10, 46, 0.1);
  margin-bottom: 20px;
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
}

.bubble p {
  margin: 0;
}

.bubble input {
  background: transparent;
  border: transparent;
  padding-bottom: 4px;
  outline: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  height: 16px;
  resize: none;
  width: 100%;
}

.bubble ::-webkit-input-placeholder {
  color: #FFF;
  opacity: 0.5;
}

.bubble :-moz-placeholder {
  color: #FFF;
  opacity: 0.5;
}

.bubble ::-moz-placeholder {
  color: #FFF;
  opacity: 0.5;
}

.bubble :-ms-input-placeholder {
  color: #FFF;
  opacity: 0.5;
}

.bubble.enable {
  -webkit-animation: bubble ease-in-out forwards 0.6s;
  -moz-animation: bubble ease-in-out forwards 0.6s;
  -ms-animation: bubble ease-in-out forwards 0.6s;
  -o-transition: bubble ease-in-out forwards 0.6s;
  animation: bubble ease-in-out forwards 0.6s;
  display: inline-block;
}

.bubble--answer {
  background: rgba(6, 10, 46, 0.5);
  color: #FFF;
  align-self: flex-end;
}

.bubble--answer.btn {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  margin-bottom: 20px;
}

.bubble--answer.enable {
  -webkit-animation: 0.3s bubble ease-in-out forwards 0.6s;
  -moz-animation: 0.3s bubble ease-in-out forwards 0.6s;
  -ms-animation: 0.3s bubble ease-in-out forwards 0.6s;
  -o-transition: 0.3s bubble ease-in-out forwards 0.6s;
  animation: 0.3s bubble ease-in-out forwards 0.6s;
}

.bubble__choice {
  align-self: center;
  margin-bottom: 20px;
}

.bubble__choice .bubble {
  margin: 0 8px;
  width: calc(33.333333333% - 20px);
  height: 150px;
  text-align: center;
  vertical-align: top;
}

.bubble__choice .bubble.enableBis {
  -webkit-animation: 0.6s bubble ease-in-out forwards 0.9s;
  -moz-animation: 0.6s bubble ease-in-out forwards 0.9s;
  -ms-animation: 0.6s bubble ease-in-out forwards 0.9s;
  -o-transition: 0.6s bubble ease-in-out forwards 0.9s;
  animation: 0.6s bubble ease-in-out forwards 0.9s;
  display: inline-block;
}

/*-----------------------------
  MEDIA QUERIES
-----------------------------*/
