@charset "UTF-8";
/*-----------------------------
  MIXINS
-----------------------------*/
/*------------------------
  Fonts
------------------------*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700,900");
@font-face {
  font-family: 'butler_stencilextrabold';
  src: url("../font/butler_extrabold_stencil-webfont.woff2") format("woff2"), url("../font/butler_extrabold_stencil-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*------------------------
  Colors
------------------------*/
@media screen and (max-width: 1000px) {
  /*------------------------
    Project
  ------------------------*/
  .project {
    flex-direction: column;
  }
  .project__visuel {
    flex-basis: 40%;
    margin-right: 0;
    overflow: hidden;
  }
  .project__visuel .visuel__mockup {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
  .project__visuel .visuel__mockup .mockup--desktop {
    bottom: -110px;
    position: absolute;
    max-height: initial;
    display: block;
  }
  .project__visuel img:last-child {
    max-height: 90%;
  }
  .description__wrapper {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    width: 70%;
  }
  .description__wrapper .btn {
    margin-top: 20px;
  }
  .description__title {
    margin: 30px 0 20px;
  }
  .description__number {
    left: 0;
    width: 100%;
    top: -20px;
    font-size: 80px;
  }
  .nav__wrapper {
    top: 65%;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }
  body:before {
    display: none;
  }
  .nav__wrapper {
    display: none;
  }
  /*------------------------
    Navigation • Mobile
  ------------------------*/
  .nav--mobile {
    display: flex;
  }
  .home {
    padding: 0;
  }
  .home .home__presentation {
    width: 100%;
    margin: 40px 20px 10px;
  }
  .home img {
    display: none;
  }
  .links {
    margin-left: auto;
    position: relative;
    bottom: 94px;
    max-width: calc(100% - 60px);
    text-align: center;
    left: 0;
    padding: 0 10px;
  }
  .links a {
    margin: 0 10px;
  }
}
