/*-----------------------------
  MIXINS
-----------------------------*/
/*------------------------
  Fonts
------------------------*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700,900");
/*------------------------
  Colors
------------------------*/
@media screen and (max-width: 1000px) {
  /*------------------------
    Project
  ------------------------*/
  .project {
    flex-direction: column;
  }
  .project__visuel {
    flex-basis: 40%;
    margin-right: 0;
    overflow: hidden;
  }
  .project__visuel .visuel__mockup {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
  .project__visuel .visuel__mockup .mockup--desktop {
    bottom: -110px;
    position: absolute;
    max-height: initial;
    display: block;
  }
  .project__visuel img:last-child {
    max-height: 90%;
  }
  .description__wrapper {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    width: 70%;
  }
  .description__wrapper .btn {
    margin-top: 20px;
  }
  .description__title {
    margin: 30px 0 20px;
  }
  .description__number {
    left: 0;
    width: 100%;
    top: -20px;
    font-size: 80px;
  }
  .nav__wrapper {
    top: 65%;
  }
}

@media screen and (max-width: 650px) {
  body:before {
    display: none;
  }
  .nav__wrapper {
    display: none;
  }
  .home {
    padding: 0;
    height: auto;
    -webkit-transform: translateY(0%) !important;
    -moz-transform: translateY(0%) !important;
    -ms-transform: translateY(0%) !important;
    -o-transform: translateY(0%) !important;
    transform: translateY(0%) !important;
    -webkit-transition: transform 0.8s ease-in-out !important;
    -moz-transition: transform 0.8s ease-in-out !important;
    -ms-transition: transform 0.8s ease-in-out !important;
    -o-transition: transform 0.8s ease-in-out !important;
    transition: transform 0.8s ease-in-out !important;
  }
  .home .home__presentation {
    width: 100%;
    margin: 40px 20px 10px;
  }
  .home .home__presentation p {
    font-size: 22px;
  }
  .home img {
    display: none;
  }
  .home .btn {
    display: none;
  }
  .projects__wrapper {
    position: relative;
    top: 0;
    left: 0;
  }
  .project {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    padding: 0;
  }
  .project__visuel {
    height: 30vh;
    border-radius: 0;
    -webkit-animation: 0.6s fadeIn ease-in-out forwards;
    -moz-animation: 0.6s fadeIn ease-in-out forwards;
    -ms-animation: 0.6s fadeIn ease-in-out forwards;
    -o-transition: 0.6s fadeIn ease-in-out forwards;
    animation: 0.6s fadeIn ease-in-out forwards;
  }
  .project__visuel .visuel__mockup {
    align-items: center;
  }
  .project__visuel .visuel__mockup .mockup--desktop {
    opacity: 1;
    bottom: 0;
    position: relative;
    max-width: 100%;
    max-height: 85%;
    height: auto;
    width: auto;
    -webkit-animation: 0.6s slideRight ease-out forwards;
    -moz-animation: 0.6s slideRight ease-out forwards;
    -ms-animation: 0.6s slideRight ease-out forwards;
    -o-transition: 0.6s slideRight ease-out forwards;
    animation: 0.6s slideRight ease-out forwards;
  }
  .project__visuel .visuel__mockup .mockup--mobile {
    opacity: 1;
    bottom: 20px;
    -webkit-animation: 0.6s slideRight ease-out forwards;
    -moz-animation: 0.6s slideRight ease-out forwards;
    -ms-animation: 0.6s slideRight ease-out forwards;
    -o-transition: 0.6s slideRight ease-out forwards;
    animation: 0.6s slideRight ease-out forwards;
  }
  .description__wrapper {
    width: 100%;
    margin: 0 auto 10px;
    text-align: left;
    padding: 20px;
  }
  .description__wrapper .btn {
    -webkit-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
    -moz-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
    -ms-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
    -o-transition: 0.8s fadeIn ease-in-out forwards 0.6s;
    animation: 0.8s fadeIn ease-in-out forwards 0.6s;
  }
  .description__title {
    margin: 30px 0 10px;
  }
  .description__title h2 {
    font-size: 36px;
    -webkit-animation: 0.6s slideTop ease-out forwards 0.8s;
    -moz-animation: 0.6s slideTop ease-out forwards 0.8s;
    -ms-animation: 0.6s slideTop ease-out forwards 0.8s;
    -o-transition: 0.6s slideTop ease-out forwards 0.8s;
    animation: 0.6s slideTop ease-out forwards 0.8s;
  }
  .description__number {
    width: auto;
    left: 30px;
    top: -5px;
    -webkit-animation: 0.6s shadowDropIn ease-out forwards 0.8s;
    -moz-animation: 0.6s shadowDropIn ease-out forwards 0.8s;
    -ms-animation: 0.6s shadowDropIn ease-out forwards 0.8s;
    -o-transition: 0.6s shadowDropIn ease-out forwards 0.8s;
    animation: 0.6s shadowDropIn ease-out forwards 0.8s;
  }
  .description p {
    -webkit-animation: 0.6s slideTop ease-in-out forwards 0.8s;
    -moz-animation: 0.6s slideTop ease-in-out forwards 0.8s;
    -ms-animation: 0.6s slideTop ease-in-out forwards 0.8s;
    -o-transition: 0.6s slideTop ease-in-out forwards 0.8s;
    animation: 0.6s slideTop ease-in-out forwards 0.8s;
  }
  .description__info span {
    -webkit-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
    -moz-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
    -ms-animation: 0.8s fadeIn ease-in-out forwards 0.6s;
    -o-transition: 0.8s fadeIn ease-in-out forwards 0.6s;
    animation: 0.8s fadeIn ease-in-out forwards 0.6s;
  }
  .description__info p {
    -webkit-animation: 0.6s slideTop ease-in-out forwards 0.8s;
    -moz-animation: 0.6s slideTop ease-in-out forwards 0.8s;
    -ms-animation: 0.6s slideTop ease-in-out forwards 0.8s;
    -o-transition: 0.6s slideTop ease-in-out forwards 0.8s;
    animation: 0.6s slideTop ease-in-out forwards 0.8s;
  }
  .contact__wrapper {
    width: 100%;
    position: relative;
    flex-direction: column;
    height: auto;
  }
  .contact__wrapper.disable {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: transform 0.8s ease-in-out;
    -moz-transition: transform 0.8s ease-in-out;
    -ms-transition: transform 0.8s ease-in-out;
    -o-transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
  }
  .contact__description .description__wrapper {
    margin: 0 0 30px;
  }
  .contact__description .description__wrapper .description__number {
    top: -20px;
  }
  .contact__description .description__wrapper .description__title {
    margin: 20px 0 0;
  }
  .contact__form {
    height: calc(100vh - 98px);
  }
  .contact__form form {
    margin: 0 20px 40px;
    width: calc(100% - 40px);
  }
  .bubble--group:nth-child(1) .bubble,
  .bubble--group:nth-child(1) .bubble--answer {
    -webkit-animation: bubble ease-in-out forwards 0.6s;
    -moz-animation: bubble ease-in-out forwards 0.6s;
    -ms-animation: bubble ease-in-out forwards 0.6s;
    -o-transition: bubble ease-in-out forwards 0.6s;
    animation: bubble ease-in-out forwards 0.6s;
    display: inline-block;
  }
  .links {
    position: relative;
    bottom: auto;
    left: auto;
    margin: 0 auto 15px;
    width: 100%;
    text-align: center;
  }
}
