@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
*:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.btn {
  padding: 0 20px;
  min-width: 150px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

.btn-std {
  background: #DDA21A;
  color: #FFF;
}

.btn-light {
  background: #FFF;
  color: #DDA21A;
}

.btn-std--secondary {
  background: #8C3233;
  color: #FFF;
}

.btn-light--secondary {
  background: #FFF;
  color: #8C3233;
}

div.wrap-restaurant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.wrap-restaurant section.restaurant {
  margin: 1% 0;
  display: flex;
  flex-basis: 48.5%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba(44, 48, 54, 0.6);
  position: relative;
  background-size: cover;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

div.wrap-restaurant section.restaurant .restaurant__picture {
  text-align: center;
  width: 100%;
  height: auto;
  box-shadow: 0 3px 0 #DDA21A;
}

div.wrap-restaurant section.restaurant div.restaurant__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

div.wrap-restaurant section.restaurant div.restaurant__content-wrapper a.restaurant__logo {
  text-align: center;
  position: relative;
  z-index: 10;
}

div.wrap-restaurant section.restaurant div.restaurant__content-wrapper a.restaurant__logo img {
  max-width: 200px;
  height: auto;
}

div.wrap-restaurant section.restaurant div.restaurant__content-wrapper h2 {
  margin: 35px 0 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 16px;
  color: #DDA21A;
}

div.wrap-restaurant section.restaurant div.restaurant__content-wrapper p.restaurant__description {
  width: 75%;
  text-align: center;
  margin: 0;
  z-index: 10;
  letter-spacing: 0.05em;
}

div.wrap-restaurant section.restaurant div.restaurant__content-wrapper div.restaurant__links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
  z-index: 10;
}

div.wrap-restaurant section.restaurant div.restaurant__content-wrapper div.restaurant__links a {
  margin: 0 20px;
}

div.wrap-restaurant section.restaurant div.restaurant__socials {
  margin: 0 0 15px 0;
  text-align: center;
  width: 100%;
}

div.wrap-restaurant section.restaurant div.restaurant__socials p {
  position: relative;
  margin: 0 0 15px 0;
}

div.wrap-restaurant section.restaurant div.restaurant__socials p span {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #FFF;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}

div.wrap-restaurant section.restaurant div.restaurant__socials p:after {
  content: '';
  width: 100%;
  background: #EEEEEE;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
}

div.wrap-restaurant section.restaurant div.restaurant__socials a {
  width: 34px;
  height: 34px;
  display: inline-block;
  line-height: 30px;
  background: #FFF;
  border-radius: 50%;
  border: 2px solid #EEEEEE;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.wrap-restaurant section.restaurant div.restaurant__socials a i {
  color: #3B5998;
}

div.wrap-restaurant section.restaurant div.restaurant__socials a:hover {
  background: #3B5998;
  border: 2px solid #3B5998;
}

div.wrap-restaurant section.restaurant div.restaurant__socials a:hover i {
  color: #FFF;
}

div.wrap-restaurant section.restaurant-1 {
  margin-right: 0.5%;
}

div.wrap-restaurant section.restaurant-2 {
  margin-left: 0.5%;
}

div.wrap-restaurant section.restaurant-2 div.restaurant__content-wrapper h2 {
  color: #8C3233;
}

div.wrap-restaurant section.restaurant-2 .restaurant__picture {
  box-shadow: 0 3px 0 #8C3233;
}

@keyframes animationScroll {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  50% {
    margin-top: 15px;
    opacity: 1;
  }
  100% {
    margin-top: 0;
    opacity: 0;
  }
}

@media (min-width: 1440px) {
  body div.wrap-restaurant {
    width: auto;
    height: auto;
  }
  body div.wrap-restaurant section.restaurant {
    margin: 20px 0;
    width: 690px;
  }
  body div.wrap-restaurant section.restaurant-1 {
    margin-right: 10px;
  }
  body div.wrap-restaurant section.restaurant-2 {
    margin-left: 10px;
  }
}

@media (max-width: 900px) {
  body {
    height: auto;
  }
  body div.wrap-restaurant section.restaurant {
    margin: 10px;
    flex-grow: 1;
  }
  body div.wrap-restaurant section.restaurant div.restaurant__content-wrapper {
    padding: 40px 0;
  }
  body div.wrap-restaurant section.restaurant-1 {
    margin-bottom: 5px;
  }
  body div.wrap-restaurant section.restaurant-2 {
    margin-top: 5px;
  }
}

@media (max-width: 400px) {
  div.wrap-restaurant section.restaurant div.restaurant__content-wrapper div.restaurant__links {
    flex-direction: column;
    align-items: center;
  }
  div.wrap-restaurant section.restaurant div.restaurant__content-wrapper div.restaurant__links a:first-child {
    margin-bottom: 30px;
  }
}

@media (max-height: 950px) {
  body {
    height: auto;
  }
  body div.restaurant__content-wrapper {
    padding: 40px 0;
  }
}
