@import 'mixins.scss';
@import 'variables.scss';
//-------------------------------------
//	ANIMATIONS
//-------------------------------------
@include keyframes(slideRight) {
  0% {
    @include transform(translateX(-15%));
    opacity: 0;
  }
  100% {
    @include transform(translateX(0%));
    opacity: 1;
  }
}

@include keyframes(slideRightBis) {
  0% {
    @include transform(translateX(-10%));
    opacity: 0;
  }
  100% {
    @include transform(translateX(0%));
    opacity: 1;
  }
}

@include keyframes(slideLeft) {
  0% {
    @include transform(translateX(0%));
    opacity: 1;
  }
  100% {
    @include transform(translateX(-15%));
    opacity: 0;
  }
}

@include keyframes(slideLeftBis) {
  0% {
    @include transform(translateX(0%));
    opacity: 1;
  }
  100% {
    @include transform(translateX(-10%));
    opacity: 0;
  }
}

@include keyframes(slideTop) {
  0% {
    @include transform(translateY(120%));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0%));
    opacity: 1;
  }
}

@include keyframes(slideBottom) {
  0% {
    @include transform(translateY(0%));
    opacity: 0;
  }
  100% {
    @include transform(translateY(120%));
    opacity: 1;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(shadowDropIn) {
  0% {
    text-shadow: 0 0 0 $dark-blue-10;
  }
  100% {
    text-shadow: 0 0 20px $dark-blue-10;
  }
}

@include keyframes(shadowDropOut) {
  0% {
    text-shadow: 0 0 20px $dark-blue-10;
  }
  100% {
    text-shadow: 0 0 0 $dark-blue-10;
  }
}

@include keyframes(bubble) {
  0% {
    @include transform(translateY(20%));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0%));
    opacity: 1;
  }
}

@include keyframes(gradient) {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@include keyframes(contact) {
  0% {
    @include transform(translateX(0) translateY(0) rotate(0));
  }
  15% {
    @include transform(translateY(-2px) rotate(20deg));
  }
  30% {
    @include transform(translateY(0));
  }
  45% {
    @include transform(translateY(-1px));
  }
  55% {
    @include transform(translateY(0));
  }
  65% {
    @include transform(translateY(-1px));
  }
  75% {
    @include transform(translateX(1px) translateY(0) rotate(0));
  }
  100% {
    @include transform(translateX(0) translateY(0) rotate(0));
  }
}

@include keyframes(plop) {
  0% {
    @include transform(rotate(0));
  }
  25% {
    @include transform(rotate(20deg));
  }
  50% {
    @include transform(rotate(-20deg));
  }
  60% {
    @include transform(rotate(0));
  }
  70% {
    @include transform(rotate(-20deg));
  }
  80% {
    @include transform(rotate(0));
  }
  90% {
    @include transform(rotate(-20deg));
  }
  100% {
    @include transform(rotate(0));
  }
}