@import "mixins.scss";
@import "variables.scss";
//-------------------------------------
//	BASICS
//-------------------------------------
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark-blue-80;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  &.menu-visible {
    overflow: hidden;
  }
} 

.visible-scrollbar,
.invisible-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/*------------------------
  Links
------------------------*/

a {
  font-size: 0.6rem;
  font-weight: 400;
  color: $dark-blue-80;
  text-decoration: none;
}

/*------------------------
  Buttons
------------------------*/

button {
  outline: none;
}

.btn {
  display: inline-block;
  border: 1px solid $dark-blue-10;
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background: #FFF;
  color: $primary-color;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  cursor: pointer;
  @include transition(all .4s ease-in-out);
  &:hover {
    box-shadow: 0 4px 14px $dark-blue-10;
  }
}

/*------------------------
  Border
------------------------*/
.projects__wrapper,
.contact__wrapper {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $dark-blue-05;
    width: calc(100vw - 90px);
    height: calc(100vh - 90px);
    @include transform(translate(45px, 45px));
  }
}

.nav__return {
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover .nav__arrow+.return__text span {
      &:first-child {
          color: $dark-blue-80;
          opacity: 0;
          @include transform(translateY(-15px));
          @include transition(color 0.4s ease-in-out 0.2s, opacity 0.4s ease-in-out 0.2s, transform 0.4s ease-in-out 0.2s);
      }
      &:last-child {
          color: $dark-blue-80;
          opacity: 1;
          @include transform(translateY(0));
          @include transition(color 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, transform 0.4s ease-in-out 0.1s);
      }
  }
}