@import "mixins.scss";
@import "variables.scss";

//-------------------------------------
//	ICON MENU
//-------------------------------------
.menu-btn {
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 0 2px 4px $dark-blue-10;
  border-radius: 50%;
  position: fixed;
  z-index: 32;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition(box-shadow 0.4s ease-in-out);

  .menu__icon {
    width: 20px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    span {
      width: 20px;
      height: 2px;
      background: $dark-blue-80;
      display: block;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        display: block;
        background: #fff;
        height: 2px;
        width: 100%;
        opacity: 0.4;
        left: 0;
        bottom: 0;
        transform-origin: right center;
        @include transform(scaleX(0));
        @include transition(transform 0.4s ease-in-out);
      }

      &:nth-child(1):after {
        @include transition(transform 0.4s ease-in-out 0.2s);
      }

      &:nth-child(3):after {
        @include transition(transform 0.4s ease-in-out 0.2s);
      }
    }

    &.enable {
      display: flex;
    }
  }

  &:hover {
    .menu__icon span:after {
      opacity: 0.6;
      transform-origin: left center;
      transform: scaleX(1);
    }
    box-shadow: 0 2px 4px $dark-blue-20;
  }

  .menu__icon--close {
    justify-content: center;
    span:first-child {
      @include transform(rotate(45deg));
    }
    span:last-child {
      @include transform(rotate(-45deg));
      margin-top: -2px;
    }
  }
}

//-------------------------------------
//	MENU
//-------------------------------------
.menu__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 31;
  background: #fff;
  opacity: 1;
  @include transition(opacity 0.4s ease-in-out);

  &.disable {
    opacity: 0;
    z-index: -1;
    @include transition(opacity 0.4s ease-in-out, z-index 0.4s ease-in-out 0.4s); 
  }
}

.menu__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 1px solid $dark-blue-05;
  position: absolute;
  width: calc(100vw - 90px);
  height: calc(100vh - 90px);
  transform: translate(45px, 45px);
}

.menu__item {
  margin: 20px auto;
  h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 2.8rem;
    color: $dark-blue-30;
    margin: 0;
    cursor: pointer;
    @include transition(color 0.4s ease-in-out);

    &:hover {
      color: $primary-color;
    }
  }
  p {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $dark-blue-30;
    margin: 0;
  }
}
//-------------------------------------
//	LINKS
//-------------------------------------
.links {
  margin: auto;
  background: #fff;
  padding: 0 14px;
  height: 38px;
  position: fixed;
  z-index: 32;
  bottom: 28px;
  left: 50%;
  margin-left: -185px;
  border-radius: 2px;

  a {
    position: relative;
    z-index: 10;
    margin: 0 15px;
    display: inline-block;
    line-height: 38px;

    span {
      display: inline-block;
      font-size: 0.6rem;
      font-weight: 400;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      @include transition(transform 0.4s ease-in-out);
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      background: $primary-color;
      height: 10px;
      width: 100%;
      opacity: 0.1;
      left: 0;
      bottom: 10px;
      transform-origin: right center;
      @include transform(scaleX(0));
      @include transition(transform 0.4s ease-in-out);
    }

    &.link--behance:after {
      background: $behance;
    }
    &.link--dribbble:after {
      background: $dribbble;
    }
    &.link--linkedin:after {
      background: $linkedin;
    }

    &:hover {
      span {
        @include transform(translateX(-6px));
      }

      &:after {
        transform-origin: left center;
        @include transform(scaleX(1));
        opacity: 0.2;
      }
    }
  }

  &.menu-visible {
    opacity: 0;
    position: fixed;
    left: 50%;
    margin: auto 0 auto -185px;
    bottom: 28px;
    width: auto;
    background: transparent;
    &.enable {
      @include animation(0.6s fadeIn ease-in-out forwards);
    }
  }
}

//-------------------------------------
//	HOME
//-------------------------------------
.home {
  position: relative;
  display: flex;
  z-index: 24;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
  background: #fff;

  @include transform(translateY(0%));
  @include transition(transform 0.8s ease-in-out);

  &.disable {
    @include transform(translateY(-100%));
    @include transition(transform 0.8s ease-in-out);
  }

  .home__presentation {
    width: 60%;
    margin-right: 35px;

    h1 {
      font-size: 0.6rem;
      color: $dark-blue-30;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      margin: 0;

      span {
        color: #000;
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 15px 0;
      line-height: 1.3em;
    }
  }

  img {
    height: auto;
    max-height: 60%;
    width: auto;
    max-width: 350px;
  }
}

//-------------------------------------
//	PROJECTS
//-------------------------------------
.projects__wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

/*------------------------
  Navigation
------------------------*/
.nav__wrapper {
  position: absolute;
  z-index: 24;
  right: 28px;
  top: 50%;
  margin-top: -90px;
  background: #fff;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;

  span.nav__item {
    position: relative;
    display: inline-flex;
    font-weight: 500;
    font-size: 0.75rem;
    opacity: 0.2;
    margin: 5px 0;
    cursor: pointer;
    @include transition(all 0.4s ease-in-out);

    &.active {
      opacity: 1;
      cursor: default;

      &:hover span.item__title {
        opacity: 0;
      }
    }

    &:hover {
      opacity: 1;

      span.item__title {
        @include transform(translateY(0%));
        opacity: 1;
      }
    }

    span.item__title {
      position: absolute;
      top: 0;
      right: 20px;
      width: max-content;
      font-size: 0.6rem;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 22px;
      background: #fff;
      padding: 0px 6px;
      opacity: 0;
      @include transform(translateX(-15%));
      @include transition(all 0.4s ease-in-out);
    }
  }
}

/*------------------------
  Project
------------------------*/
.project {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  z-index: 0;
  display: none;

  &.enable {
    z-index: 16;
    display: flex;
  }
}

#project-01 .project__visuel {
  background: linear-gradient(45deg, #1d7d90, #5dd5c3);
}

#project-02 .project__visuel {
  background: linear-gradient(45deg, #f59e64, #eb5160);
}

#project-03 .project__visuel {
  background: linear-gradient(45deg, #1d7d90, #5dd5c3);
}

#project-04 .project__visuel {
  background: linear-gradient(45deg, #1d7d90, #5dd5c3);
}

//Project visuel
.project__visuel {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  position: relative;
  z-index: 24;
  margin-right: 15px;
  background: linear-gradient(45deg, #1d7d90, #5dd5c3);
  background-size: 400% 400%;
  border-radius: 4px;
  box-shadow: 0 0 16px $dark-blue-20;
  @include animation(1s fadeOut ease-in-out forwards);

  &.enable {
    @include animation(0.6s fadeIn ease-in-out forwards 0.6s);
  }

  .visuel__mockup {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    max-width: 630px;
    width: 80%;

    .mockup--desktop {
      max-width: 600px;
      width: 100%;
      position: relative;
      z-index: 8;
      opacity: 0;
      @include animation(0.4s slideLeft ease-in-out forwards);

      &.enable {
        @include animation(0.6s slideRight ease-out forwards 0.6s);
      }
    }

    .mockup--mobile {
      max-width: 600px;
      width: 100%;
      position: absolute;
      z-index: 16;
      bottom: 0;
      right: 0;
      opacity: 0;
      @include animation(0.4s slideLeft ease-in-out forwards);

      &.enable {
        @include animation(0.6s slideRightBis ease-out forwards 0.6s);
      }
    }
  }

  img:last-child {
    position: absolute;
    z-index: 5;
    height: auto;
    max-height: 500px;
    width: auto;
    max-width: 60%;
  }
}

//Project description
.project__description {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description__wrapper {
  position: relative;
  width: 80%;
  max-width: 400px;
  margin-left: -40px;

  .btn {
    margin-top: 20px;
    opacity: 0;
    @include animation(0.8s fadeOut ease-in-out forwards);

    &.enable {
      @include animation(0.8s fadeIn ease-in-out forwards 0.6s);
    }
  }
}

.description__title {
  overflow: hidden;
  position: relative;
  padding: 8px 0;
  margin: 30px 0 15px 0;

  h2 {
    z-index: 10;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 1;
    margin: 0;
    @include transform(translateY(120%));
    @include animation(0.6s slideBottom ease-out forwards);

    &.enable {
      @include animation(0.6s slideTop ease-out forwards 0.8s);
    }
  }
}

.description__number {
  position: absolute;
  display: block;
  top: -45px;
  left: -20px;
  z-index: -1;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  color: #fff;
  @include animation(0.6s shadowDropOut ease-out forwards);

  &.enable {
    @include animation(0.6s shadowDropIn ease-out forwards 0.8s);
  }
}

.description {
  overflow: hidden;

  p {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.75rem;
    letter-spacing: 0.15em;
    color: $dark-blue-50;
    margin: 20px 0 0 0;
    @include transform(translateY(125%));
    @include animation(0.6s slideBottom ease-in-out forwards);

    &.enable {
      @include animation(0.6s slideTop ease-in-out forwards 0.8s);
    }
  }
}

.description__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;

  span {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0;
    @include transform(translateY(120%));
    @include animation(0.6s slideBottom ease-in-out forwards);

    &.enable {
      @include animation(0.6s slideTop ease-in-out forwards 0.8s);
    }
  }
}

//-------------------------------------
//	CONTACT
//-------------------------------------
.contact__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  z-index: 30;
  display: flex;
  background: #fff;

  @include transform(translateY(0%));
  @include transition(transform 0.8s ease-in-out);

  &.disable {
    @include transform(translateY(-100%));
    @include transition(transform 0.8s ease-in-out);
  }
}

//Contact description
.contact__description {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .description__wrapper {
    max-width: 470px;
    margin-left: -40px;
  }

  .description__title h2 {
    text-align: center;
    @include animation(none);
    @include transform(none);
  }

  .description__number {
    text-align: center;
    width: 100%;
    left: 0;
    text-shadow: 0 0 20px $dark-blue-10;
    @include animation(none);
  }

  .description p {
    text-align: center;
    @include animation(none);
    @include transform(none);
  }
}

//Contact form
.contact__form {
  overflow: auto;
  //max-height: 100vh;
  display: flex;
  opacity: 1;
  flex-basis: 50%;
  position: relative;
  z-index: 24;
  background: linear-gradient(45deg, #1d7d90, #5dd5c3);
  background-size: 400% 400%;
  border-radius: 4px;
  box-shadow: 0 0 16px $dark-blue-20;

  form {
    margin: 0 80px 40px;
    width: calc(100% - 160px);
    position: relative;
    overflow-y: auto;
  }
}

.bubble--group {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  &:nth-child(1) {
    margin-top: 10%;

    .bubble--answer {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &:last-child .bubble:last-child {
    margin-bottom: 40px;
  }
}

.bubble {
  display: none;
  background: #fff;
  max-width: 300px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px $dark-blue-10;
  margin-bottom: 20px;
  @include transform(translateY(20%));
  opacity: 0;

  p {
    margin: 0;
  }

  input,
  textarea {
    background: transparent;
    border: transparent;
    padding-bottom: 4px;
    outline: none;
    color: #fff;
    font-size: 0.75rem;
    line-height: 18px;
    font-weight: 600;
    height: 16px;
    resize: none;
    width: 100%;
  }

  textarea {
    height: auto;
  }

  @include placeholder {
    color: #fff;
    opacity: 0.5;
  }

  &.enable {
    @include animation(bubble ease-in-out forwards 0.6s);
    display: inline-block;
  }
}

.bubble--answer {
  background: $dark-blue-50;
  color: #fff;
  align-self: flex-end;
  //margin-left: calc(100% - 280px);
  &.enable {
    @include animation(0.3s bubble ease-in-out forwards 0.6s);
  }
}

.bubble--delay {
  &.enable {
    @include animation(0.3s bubble ease-in-out forwards 0.6s);
  }
}

.bubble--group__choice {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 20px;

  .bubble {
    width: calc(33.333333333% - 20px);
    text-align: center;
    padding: 0;
    cursor: pointer;
    box-shadow: none;
    background: none;
    flex-grow: 1;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ div {
        box-shadow: 0 4px 16px $dark-blue-10;
        @include transform(scale(1));
      }

      &:not(:checked) ~ div {
        @include transform(scale(0.9));

        span,
        p {
          opacity: 0.5;
        }
      }
    }

    .choice {
      width: 100%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 4px 8px $dark-blue-10;
      border-radius: 4px;
      @include transition(transform 0.4s ease-in-out);

      span {
        position: relative;
        display: block;
        font-size: 1.25rem;
        line-height: 64px;
        margin: 10px auto 20px;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
        @include transition(opacity 0.4s ease-in-out);

        &:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          border: 1px solid $dark-blue-05;
          border-radius: 50%;
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          @include transform(translate(-11px, -11px));
        }
      }

      p {
        @include transition(opacity 0.4s ease-in-out);
      }
    }

    &.enable__choice {
      @include animation(0.3s bubble ease-in-out forwards 0.9s);
      display: flex;
    }
  }
}
