@import 'mixins.scss';
@import 'variables.scss';

// -----------------------------------
//
//	MEDIA
//
// -----------------------------------
//-------------------------------------
//	MEDIA QUERIES : + 1000px
//-------------------------------------
@media screen and (min-width: 1000px) {
	.contact__wrapper .nav__return {
		.nav__arrow {
			border-top: 2px solid rgba(255, 255, 255, 0.8);
			border-left: 2px solid rgba(255, 255, 255, 0.8);
		}

		.arrow__circle {
			background: rgba(255, 255, 255, 0.5);

			&:after {
				background: rgba(255, 255, 255, 0.3);
			}
		}

		.return__text span {
			color: rgba(255, 255, 255, 0.5);
		}

		&:hover .arrow__clickable+.return__text span:first-child,
		&:hover .arrow__clickable+.return__text span:last-child {
			color: rgba(255, 255, 255, 0.8);
		}
	}
}

//-------------------------------------
//	MEDIA QUERIES : 1000px
//-------------------------------------
@media screen and (max-width: 1000px) {

	//-- PROJECTS
	.project {
		flex-direction: column;
	}

	.project__visuel {
		flex-basis: 40%;
		margin-right: 0;
		overflow: hidden;

		.visuel__mockup {
			height: 100%;
			width: 100%;
			max-width: 100%;

			.mockup--desktop {
				margin-bottom: -35%;
			}

			.mockup--mobile {
				display: none;
			}
		}

		img:last-child {
			top: -6vh;
		}
	}

	.description__wrapper {
		margin-left: 0;
		margin-top: 20px;
		text-align: center;
		max-width: 600px;
		width: 70%;

		.btn {
			margin-top: 20px;
		}
	}

	.description__title {
		margin: 30px 0 20px;
	}

	.description__number {
		left: 0;
		width: 100%;
		top: -20px;
		font-size: 80px;
	}

	//-- NAVIGATION • DESKTOP
	.nav__wrapper {
		top: 65%;
	}

	//-- CONTACT
	.contact__wrapper {
		width: 100%;
		flex-direction: column;
	}

	.contact__description {
		flex-basis: auto;

		.description__wrapper {
			width: calc(100vw - 40px);
			margin: 70px auto 50px;

			.description__number {
				top: -22px;
				font-size: 5rem;
			}

			.description__title {
				margin: 20px 0 0;
			}
		}
	}

	.contact__form {
		flex-grow: 1;

		form {
			margin: 0 10px 40px;
			width: calc(100% - 20px);
		}
	}

	.menu__projects-wrapper .menu__projects .menu__project {
		flex-direction: column;
	}

	//-- PROJECT PAGE
	.explain {
		max-width: 100%;
	}

	.explain__text {
		display: none;
	}
}

//-------------------------------------
//	MEDIA QUERIES : 800px
//-------------------------------------
@media screen and (max-width: 800px) {

	//-- FOOTER
	.links {
		margin-left: auto;
		position: fixed;
		bottom: 20px;
		left: 0;
		width: calc(100% - 40px);
		margin: auto 20px;
		text-align: center;
		padding: 0;

		a {
			margin: 0 10px;
		}

		&.menu-visible {
			left: 0;
			width: calc(100% - 60px);
			margin: auto 30px;
			background: #fff;
		}
	}

	.project-page footer,
	.menu__footer {
		flex-direction: column;
		margin: 40px auto;

		.copyright {
			order: 2;
		}

		.links {
			order: 1;
		}
	}

	//-- NEXT PAGE
	section.next-project__wrapper {
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.next-project__visuel {
		text-align: center;
		width: 100%;

		img {
			max-width: 400px;
			width: 100%;
		}
	}

	//-- PROJECT PAGE
	.project-picture--double {
		padding-bottom: 70px;

		img {
			display: block;
			width: 100%;

			&:last-child {
				margin-left: 0;
				margin-bottom: 0;
				margin-top: 40px;
			}
		}
	}

	.project-mobile {
		display: flex;
		flex-direction: column;

		img {
			margin: auto;

			&:last-child {
				margin: 40px auto 0 auto;
			}
		}
	}
}

//-------------------------------------
//	MEDIA QUERIES : 650px
//-------------------------------------
@media screen and (max-width: 650px) {
	html {
		font-size: 13px;
	}

	.projects__wrapper,
	.contact__wrapper {
		&:before {
			display: none;
		}
	}

	.nav__return {
		top: 23px;
		background: transparent;
		z-index: 10;

		.return__text {
			display: none;
		}

		.arrow__clickable {
			width: 35px;
			height: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	//-- NAVIGATION • DESKTOP
	.nav__wrapper {
		display: none;
	}

	//-- NAVIGATION • MOBILE
	.nav--mobile {
		display: flex;
	}

	//-- HOME
	.home {
		padding: 0;
	}

	//-- CONTACT
	.contact__description {
		.description__wrapper {
			margin: 20px auto 20px;

			.description {
				display: none;
			}
		}
	}

	.bubble--group:nth-child(1) .bubble,
	.bubble--group:nth-child(1) .bubble--answer {
		@include animation(bubble ease-in-out forwards 0.6s);
		display: inline-block;
	}

	.bubble--group__choice {
		flex-direction: column;

		.bubble {
			width: 100%;
			margin-bottom: 0;

			&:last-child {
				margin-bottom: 20px;
			}
		}
	}

	//-- MENU
	.menu__projects-wrapper {
		display: none;
	}

	.menu__projects-wrapper--mobile {
		display: block;
		text-align: center;
	}

	.menu__categories {
		flex-direction: column;
		height: auto;
		padding: 40px 0;
	}

	.menu__category {
		margin: 10px auto;
	}

	//-- PROJECT PAGE
	.project-page header {
		@include transition(width 1s ease-in-out, padding 1s ease-in-out);

		&.enable {
			padding: 20px;
			width: calc(100% - 40px);
		}

		.header--text {
			@include transition(0.4s transform 1s ease-in-out, 0.4s color 1s ease-in-out);
		}
	}

	.project-page nav {
		padding: 20px 20px 0 20px;
	}

	.project-page .container {
		width: calc(100% - 40px);
		margin: 100px auto;

		&.project-description,
		&.project-intro {
			width: calc(100% - 60px);
		}
	}

	.project-parallax--bg {
		height: 450px;
	}

	.project-picture {
		padding: 10px;

		&:nth-child(3) {
			margin-top: 80px !important;
		}

		img {
			margin-top: calc(-10px - 60px);
			// - padding - gap
		}
	}

	.project-picture--explain {
		padding: 10px;

		.explain {
			margin-top: calc(-10px - 60px);
			// - padding - gap
		}
	}

	.project-picture--simple,
	.project-picture--double,
	.project-picture--explain {
		margin-top: calc(100px + 60px) !important;
		// margin-top + gap
	}

	.project-picture--double img:last-child {
		margin-top: 10px;
	}

	.container-fluid.project-slider {
		padding: 40px 0;
		margin-top: calc(100px + 60px) !important;
		// margin-top + gap

		.slider__content {
			margin-top: calc(-40px - 60px);
			// - padding - gap
		}
	}
}

//-------------------------------------
//	MEDIA QUERIES : 400px
//-------------------------------------
@media screen and (max-width: 400px) {

	//-- HOME
	.home img {
		max-width: 80%;
	}

	.home .home__illustration img:first-child {
		width: 130px;
		left: 50%;
		top: 35px;
		margin-left: -65px;
	}

	//-- PROJECT PAGE
	.project-page nav {
		padding: 20px 20px 0 20px;
	}

	.project-mobile img {
		width: 100%;
	}

	.slick-track .slick-slide {
		margin: 0 5px;
	}
}

//-------------------------------------
//	MEDIA QUERIES : 320px
//-------------------------------------
@media screen and (max-width: 320px) {

	//-- HOME
	.project__description--mobile {
		margin-bottom: 20px;
	}

	.description__title--mobile {
		margin: 35px 0 5px 0;

		h2 {
			font-size: 2.4rem;
		}
	}

	.project--mobile .btn {
		margin-top: 35px;
	}

	.nav--mobile {
		margin: 16px auto;
	}

	.description__number-wrapper--mobile .description__number--mobile {
		font-size: 5rem;
		top: -50px;
		height: calc(100vh - 50px);
	}

	.description__number-wrapper--mobile .description__number-shadow--mobile {
		font-size: 5rem;
		top: -40px;
	}
}

//-------------------------------------
//	MEDIA QUERIES : 450px (height)
//-------------------------------------
@media (max-height: 540px) {
	.home {
		.home__illustration {
			max-width: 260px;
			height: 270px;

			img {
				max-width: 80%;

				&:first-child {
					width: 110px;
					top: 25px;
					margin-left: -55px;
				}
			}
		}

		.home__presentation {
			width: calc(100% - 40px);

			p {
				font-size: 1.1rem;
			}
		}
	}
}

@media (max-height: 470px) {
	footer {
		display: none;
	}

	.nav--mobile {
		bottom: 10px;
	}

	.project__content {
		padding: 20px 20px 60px 20px;
	}

	.btn {
		padding: 15px;
		height: auto;
		line-height: normal;
	}

	.project__visuel--mobile .visuel__mockup .mockup--desktop {
		width: 90%;
	}

	.contact__form form {
		margin: 0 10px 10px;
	}
}