//-------------------------------------
//	MEDIA QUERIES
//-------------------------------------

@import "mixins.scss";
@import "variables.scss";
@media screen and (max-width: 1000px) {
  /*------------------------
    Project
  ------------------------*/
  .project {
    flex-direction: column;
  }

  .project__visuel {
    flex-basis: 40%;
    margin-right: 0;
    overflow: hidden;
    .visuel__mockup {
      height: 100%;
      width: 100%;
      max-width: 100%;
      .mockup--desktop {
        bottom: -110px;
        position: absolute;
        max-height: initial;
        display: block;
      }
    }

    img:last-child {
      max-height: 90%;
    }
  }

  .description__wrapper {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    width: 70%;

    .btn {
      margin-top: 20px;
    }
  }

  .description__title {
    margin: 30px 0 20px;
  }

  .description__number {
    left: 0;
    width: 100%;
    top: -20px;
    font-size: 80px;
  }

  //-------------------------------------
  //	NAVIGATION
  //-------------------------------------
  .nav__wrapper {
    top: 65%;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 13px;
  }

  body:before {
    display: none;
  }

  //-------------------------------------
  //	NAVIGATION
  //-------------------------------------
  .nav__wrapper {
    display: none;
  }

  /*------------------------
    Navigation • Mobile
  ------------------------*/
  .nav--mobile {
    display: flex;
  }

  //-------------------------------------
  //	HOME
  //-------------------------------------
  .home {
    padding: 0;
    // @include transform(translateY(0%) !important);
    // @include transition(transform 0.8s ease-in-out !important);

    .home__presentation {
      width: 100%;
      margin: 40px 20px 10px;
    }

    img {
      display: none;
    }
  }

  //-------------------------------------
  //	CONTACT
  //-------------------------------------
  .contact__wrapper {
    width: 100%;
    flex-direction: column;
  }

  .contact__description {
    flex-basis: auto;

    .description__wrapper {
      width: calc(100vw - 40px);
      margin: 40px auto 40px;

      .description__number {
        top: -22px;
        font-size: 5rem;
      }
      .description__title {
        margin: 20px 0 0;
      }
      .description {
        display: none;
      }
    }
  }

  .contact__form {
    flex-grow: 1;
    form {
      margin: 0 20px 40px;
      width: calc(100% - 40px);
    }
  }

  .bubble--group:nth-child(1) .bubble,
  .bubble--group:nth-child(1) .bubble--answer {
    @include animation(bubble ease-in-out forwards 0.6s);
    display: inline-block;
  }

  //-------------------------------------
  //	LINKS
  //-------------------------------------
  .links {
    margin-left: auto;
    position: fixed;
    bottom: 30px;
    left: 0;
    width: calc(100% - 60px);
    margin: auto 30px;
    text-align: center;
    padding: 0 10px;

    a {
      margin: 0 10px;
    }
  }

  //-------------------------------------
  //	MENU
  //-------------------------------------
  .links.menu-visible {
    left: 0;
    width: calc(100% - 60px);
    margin: auto 30px;
    background: #FFF;
  }
}
