@import 'mixins.scss';
@import 'variables.scss';

// -----------------------------------
//
//	PROJECT PAGE
//
// -----------------------------------
//-------------------------------------
//	BASICS
//-------------------------------------
.project-page {
	.container {
		width: calc(100% - 100px);
		max-width: 1340px;
		margin: 140px auto;
		opacity: 0;
		@include transform(translateY(30px));
		@include transition(0.6s transform 1.8s ease-in-out, 0.6s opacity 1.8s ease-in-out);

		&.enable {
			opacity: 1;
			@include transform(translateY(0));
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.container-fluid {
		width: 100%;
		text-align: center;
	}

	h4 {
		font-size: 0.75em;
		font-weight: 600;
		color: $primary-color;
		margin: 0;
	}
}

//-------------------------------------
//	NAVIGATION
//-------------------------------------
.project-page {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 50px 0 50px;
		height: 70px;
		opacity: 0;
		@include transition(opacity 0.8s ease-in-out);

		&.enable {
			opacity: 1;
		}
	}

	.menu-btn {
		opacity: 0;
		@include transition(opacity 0.8s ease-in-out);

		&.enable {
			opacity: 1;
		}
	}
}

.return__text {
	position: relative;
	display: flex;

	span {
		font-size: 0.625rem;
		text-transform: uppercase;
		color: $dark-blue-50;
		font-weight: 600;
		margin-left: 28px;
		letter-spacing: 0.1em;
		margin-bottom: 1px;
		@include transition(all 0.4s ease-in-out);

		&:first-child {
			opacity: 1;
		}

		&:last-child {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			@include transform(translateY(15px));
			@include transition(all 0.4s ease-in-out);
		}
	}
}

//-------------------------------------
//	HEADER
//-------------------------------------
.project-page header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 24px auto 100px auto;
	height: 400px;
	background-color: $dark-blue-05;
	background-size: cover;
	background-position: center;
	width: 0;
	@include transition(width 1.4s ease-in-out);

	&.enable {
		width: calc(100% - 100px);
	}

	.header--text {
		text-align: center;
		color: transparent;
		@include transform(translateY(30px));
		@include transition(0.4s transform 1.4s ease-in-out, 0.4s color 1.4s ease-in-out);

		&.enable {
			color: #ffffff;
			@include transform(translateY(0));
		}
	}

	h1 {
		font-family: 'Playfair Display', serif;
		line-height: 1.3;
		font-size: 3em;
		font-weight: 300;
		font-style: italic;
		margin: 0 0 5px 0;
	}

	p.subtitle {
		font-size: 0.75em;
		font-weight: 600;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin: 0;
	}
}

//-------------------------------------
//	PRESENTATION
//-------------------------------------

.intro__content {
	max-width: 580px;
	margin: 0 auto;
	text-align: center;

	h2 {
		font-size: 0.875rem;
		font-weight: 500;
		text-transform: uppercase;
	}

	p {
		font-size: 0.875rem;
		color: $dark-blue-50;
		text-align: left;
		margin: 10px auto 30px;
		line-height: 1.6;

		&:first-of-type:first-letter {
			font-family: 'Playfair Display', serif;
			font-size: 2.7rem;
			float: left;
			margin-top: 3px;
			margin-right: 5px;
			font-weight: 700;
			line-height: 0.8;
			opacity: 0.25;
		}
	}
}

//-------------------------------------
//	DESCRIPTION • SUBTITLE
//-------------------------------------
.container.project-description {
	width: 80%;
	max-width: 600px;
	text-align: center;

	h3 {
		color: $primary-color;
		margin: 0 0 5px 0;
	}

	p {
		font-size: 0.875em;
		font-weight: 300;
		color: $dark-blue-50;
		margin: 0;
	}
}

//-------------------------------------
//	PICTURE
//-------------------------------------
.project-picture {
	text-align: center;
	padding: 0 70px;

	&.padding {
		padding: 0 70px 70px 70px;

		&:after {
			height: calc(100% - 70px);
		}
	}

	&.shadow {
		img,
		.explain {
			box-shadow: 0 4px 50px $dark-blue-10;
		}

		&:after {
			display: none;
		}
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: calc(100% - 140px);
		background: $dark-blue-03;
		top: 70px;
		left: 0;
	}

	img {
		width: 100%;
		border-radius: 4px;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

		&.mockup {
			box-shadow: none;
		}
	}
}

//-------------------------------------
//	PICTURE • SIMPLE
//-------------------------------------
.project-picture--simple {
	img {
		max-width: 980px;
	}
}

//-------------------------------------
//	PICTURE • DOUBLE
//-------------------------------------
.project-picture--double {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	img {
		display: inline-block;
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}

	.picture-double__wrapper {
		width: calc(50% - 33px);

		&:last-child {
			margin-left: 60px;
			margin-top: 140px;
		}
	}
}

//-------------------------------------
//	PICTURE • EXPLAIN
//-------------------------------------
.project-picture--explain {
	img {
		box-shadow: none !important;
		border-radius: 0;
	}
}

.explain {
	width: 100%;
	max-width: calc(100% - 330px);
	margin: auto;
	border-radius: 4px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.explain__picture {
	position: relative;

	&:first-child img {
		border-radius: 4px 4px 0 0;
	}

	&:last-child img {
		border-radius: 0 0 4px 4px;
	}
}

.explain__text {
	position: absolute;
	top: 0;
	width: 265px;
	padding-bottom: 10px;
	border-bottom: 1px solid $dark-blue-30;

	&:after {
		content: '';
		position: absolute;
		bottom: -3px;
		width: 5px;
		height: 5px;
		background: $dark-blue-50;
		border-radius: 50%;
		box-shadow: 0 0 0 3px $dark-blue-10;
	}

	p {
		font-size: 0.75em;
		font-weight: 300;
		color: $dark-blue-50;
		margin: 0;
	}
}

.explain__text--left {
	left: -205px;
	text-align: left;
	padding-right: 80px;

	&:after {
		right: -5px;
	}
}

.explain__text--right {
	right: -205px;
	text-align: right;
	padding-left: 80px;

	&:after {
		left: -5px;
	}
}

//-------------------------------------
//	PICTURE • MOBILE
//-------------------------------------
.project-mobile {
	text-align: center;
	margin-bottom: 80px !important;

	img {
		display: inline-block;
		width: 300px;

		&:last-child {
			margin-left: 60px;
			margin-bottom: -80px;
		}
	}
}

//-------------------------------------
//	PARALLAX • BACKGROUND
//-------------------------------------
.project-parallax--bg {
	height: 600px;
	overflow: hidden;
}

.project-parallax--bg div {
	height: 150%;
	position: relative;
	top: -45%;
	background-size: cover;
	background-position: center;
}

.project-parallax--bg--mobile .parallax-visuel {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	@include transform(scale(0.1));
}

.parallax-visuel__wrapper {
	@include transform(scale(10));
}

.project-parallax--bg--mobile {
	display: none;
	height: 350px;
	overflow: hidden;
}

//-------------------------------------
//	PICTURE • SLIDER
//-------------------------------------
.container-fluid.project-slider {
	position: relative;
	padding: 70px 0 118px;
	margin-bottom: calc(140px + 40px + 8px);

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: calc(100% - 0px);
		background: $dark-blue-03;
		top: 0;
		left: 0;
	}
}

.slider.slider__content {
	h4 {
		text-align: center;
		font-weight: 600;
		margin: 0 0 15px 0;
	}
}

//-------------------------------------
//	VIDEO
//-------------------------------------
.video-wrapper {
	width: 100%;
	max-width: 980px;
	margin: auto;

	&:hover .controls {
		opacity: 1;
	}

	video {
		width: 100%;
		border: 10px solid #2f3039;
		border-radius: 24px;
		box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.1), 0 17px 26px 0 rgba(0, 0, 0, 0.2),
			0 1px 3px 0 #000 inset, 0 -17px 26px 0 #000 inset;
	}

	.controls {
		font-size: 13px;
		color: #fff;
		width: calc(100% - 60px);
		margin: 0 30px;
		position: relative;
		justify-content: space-between;
		align-items: center;
		opacity: 0;
		@include transform(translateY(-45px));
		@include transition(0.3s opacity ease-in-out);

		button {
			font-size: 20px;
			color: #fff;
			cursor: pointer;
			border: none;
			background: transparent;
			padding: 0;

			&.icon-play,
			&.icon-pause {
				margin-right: 20px;
			}
		}

		.duration {
			margin: 0 20px;
		}

		.progress {
			display: block;
			cursor: pointer;
			text-align: left;
			width: 100%;
			height: 3px;
			border-radius: 0;
			background: rgba(255, 255, 255, 0.4);

			span {
				width: 0%;
				height: 100%;
				display: inline-block;
				background: $primary-color;
			}
		}
	}
}

//-------------------------------------
//	NEXT PROJECT
//-------------------------------------
.next-project {
	text-align: center;
	margin: 140px 0;

	h3.next-project__title {
		font-weight: 400;
		color: $dark-blue-30;
		margin: 0 0 -5px 0;
	}

	.next-project__name {
		font-family: 'Playfair Display', serif;
		font-size: 2.25em;
		font-weight: 700;
		font-style: italic;
		margin: 0;
		cursor: pointer;
		@include transition(color 0.2s ease-in-out);
	}
}

//-------------------------------------
//	FOOTER
//-------------------------------------
.project-page footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 140px 50px 40px 50px;
	line-height: 38px;

	.links {
		position: initial;
		margin: auto 20px;
		text-align: center;
		height: auto;
	}
}

.footer__contact {
	span:after {
		content: '';
		display: inline-block;
		width: 30px;
		height: 1px;
		background: $dark-blue-10;
		margin: 0 15px 2px 10px;
	}

	.contact__link {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		line-height: 24px;
		background: #fff;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 10px $dark-blue-10;
		@include transition(box-shadow 0.4s ease-in-out);

		&:after {
			content: '';
			position: absolute;
			width: calc(100% + 10px);
			height: calc(100% + 10px);
			border-radius: 50%;
			border: 1px solid $dark-blue-05;
			top: 0;
			left: 0;
			@include transform(translate(-6px, -6px));
			@include transition(border 0.4s ease-in-out);
		}

		&:hover {
			box-shadow: 0 0 10px $dark-blue-20;

			&:after {
				border-color: $dark-blue-10;
			}
		}
	}

	a {
		position: relative;
		z-index: 30;
		width: 24px;
		height: 24px;
		text-align: center;
		padding-left: 2px;

		&:hover {
			@include animation(1.5s contact ease-in-out);
		}
	}
}

//-------------------------------------
//	VARIABLES PROJECT
//-------------------------------------
.project-page#project-02 {
	section .container h3,
	section h4,
	.intro__content p:first-of-type:first-letter,
	.next-project__name:hover {
		color: $project-02;
	}

	.controls .progress span {
		background-color: $project-02;

		&:after {
			border-color: $project-02;
		}
	}

	header {
		background-image: url(../img/le-trianon/le-trianon__hero-picture.jpg);
	}

	#parallax-bg-01 div,
	.project-parallax--bg--mobile .parallax-visuel {
		background-image: url(../img/le-trianon/le-trianon__picture-parallax.jpg);
	}

	.controls #progress span {
		background-color: $project-02;
	}

	.slick-dots li button:after {
		background-color: $project-02;
	}

	.slick-dots li button:hover:after {
		width: 100%;
	}

	#explain__text-01 {
		top: 50%;
	}

	#explain__text-02 {
		top: 30%;
		width: 245px;
		padding-left: 60px;
	}

	#explain__text-03 {
		top: 0px;
		width: 235px;
		padding-right: 50px;
	}

	#explain__text-04 {
		top: -30px;
		width: 225px;
		padding-left: 30px;
	}

	#explain__text-05 {
		top: 40px;
		width: 245px;
		padding-right: 60px;
	}

	#explain__text-06 {
		top: 50px;
		width: 235px;
		padding-left: 50px;
	}

	#explain__text-07 {
		width: 295px;
		padding-right: 110px;
	}
}

.project-page#project-01 {
	section .container h3,
	section h4,
	.intro__content p:first-of-type:first-letter,
	.next-project__name:hover {
		color: $project-01;
	}

	header {
		background-image: url(../img/zenchef/zenchef__hero-picture.jpg);
	}

	#parallax-bg-01 div,
	.project-parallax--bg--mobile .parallax-visuel {
		background-image: url(../img/zenchef/zenchef__picture-product-parallax.jpg);
	}

	.controls .progress span {
		background-color: $project-01;
	}

	#parallax-bg-02,
	#parallax-bg--mobile-02 {
		margin: 140px 0;
	}

	#parallax-bg-02 div,
	#parallax-bg--mobile-02 .parallax-visuel {
		background-image: url(../img/zenchef/zenchef__picture-mkt-parallax.jpg);
	}

	.slick-dots li button:after {
		background-color: $project-01;
	}

	.slick-dots li button:hover:after {
		width: 100%;
	}

	#explain__text-01 {
		top: calc(80% - 101px);
		width: 235px;
		padding-right: 50px;
	}

	#explain__text-02 {
		top: calc(53% - 65px);
		width: 285px;
		padding-left: 100px;
	}

	#explain__text-03 {
		top: calc(30% - 101px);
		width: 215px;
		padding-right: 30px;
	}

	#explain__text-04 {
		top: calc(30% - 65px);
		width: 212px;
		padding-left: 42px;
	}

	#explain__text-2-01 {
		top: calc(72% - 65px);
		width: 215px;
		padding-left: 40px;
	}

	#explain__text-2-02 {
		top: calc(50% - 101px);
		width: 375px;
		padding-right: 190px;
	}

	#explain__text-2-03 {
		top: calc(60% - 101px);
		width: 305px;
		padding-left: 120px;
	}

	#explain__text-2-04 {
		top: calc(93% - 65px);
		width: 365px;
		padding-right: 180px;
	}

	#explain__text-3-01 {
		top: calc(73% - 83px);
		width: 215px;
		padding-right: 40px;
	}

	#explain__text-3-02 {
		top: calc(50% - 83px);
		width: 285px;
		padding-left: 100px;
	}

	#explain__text-3-03 {
		top: calc(0% - 83px);
		width: 347px;
		padding-right: 160px;
	}
}

.project-page#project-03 {
	section .container h3,
	section h4,
	.intro__content p:first-of-type:first-letter,
	.next-project__name:hover {
		color: $project-03;
	}

	header {
		background-image: url(../img/alcatraz/alcatraz__hero-picture.jpg);
	}

	#parallax-bg-01 div,
	.project-parallax--bg--mobile .parallax-visuel {
		background-image: url(../img/alcatraz/alcatraz__picture-parallax.jpg);
	}

	.controls .progress span {
		background-color: $project-03;
	}

	.slick-dots li button:after {
		background-color: $project-03;
	}

	.slick-dots li button:hover:after {
		width: 100%;
	}

	#explain__text-01 {
		top: 48%;
		width: 338px;
		padding-left: 152px;
	}

	#explain__text-02 {
		top: 31%;
		width: 635px;
		padding-right: 450px;
	}

	#explain__text-03 {
		top: 39%;
		width: 425px;
		padding-left: 240px;
	}
}

.project-page#project-04 {
	section .container h3,
	section h4,
	.intro__content p:first-of-type:first-letter,
	.next-project__name:hover {
		color: $project-04;
	}

	header {
		background-image: url(../img/btyd/btyd__hero-picture.jpg);
	}

	#parallax-bg-01 div {
		background-image: url(../img/btyd/btyd__picture--all.jpg);
	}

	.controls .progress span {
		background-color: $project-04;
	}

	.slick-dots li button:after {
		background-color: $project-04;
	}

	.slick-dots li button:hover:after {
		width: 100%;
	}
}
