@import 'mixins.scss';
@import 'variables.scss';

// -----------------------------------
//
//   PROJECT PAGE
//
// -----------------------------------

//-------------------------------------
//	NAVIGATION
//-------------------------------------
.project-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 0 15px;
	height: 70px;
	
	.menu-btn {
		position: relative;
		top: 0;
		left: 0;
	}
}

.return__text {
	position: relative;
	display: flex;

	span {
		font-size: 0.625rem;
		text-transform: uppercase;
		color: $dark-blue-50;
		font-weight: 600;
		margin-left: 28px;
		letter-spacing: 0.1em;
		margin-bottom: 1px;
		@include transition(all 0.4s ease-in-out);

		&:first-child {
			opacity: 1;
		}

		&:last-child {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			@include transform(translateY(15px));
			@include transition(all 0.4s ease-in-out);
		}
	}
}

//-------------------------------------
//	HEADER
//-------------------------------------
.project-page header {
	h1 {
		font-family: 'Playfair Display', serif;
		font-size: 3em;
		font-weight: 300;
		font-style: italic;
		color: $project-04;
		text-align: center;
		margin: 0 0 10px 0;
	}
}

.project-page {
}

//-------------------------------------
//	SECTION
//-------------------------------------
.project-page section {
	margin: 50px auto;
}

.project__intro-wrapper {
	overflow: hidden;
}

.project__intro {
	width: 80%;
	max-width: 640px;
	margin: 0 auto 14px auto;
	text-align: center;

	h2 {
		font-size: 0.875rem;
		font-weight: 500;
		text-transform: uppercase;
	}

	p {
		letter-spacing: 0.03em;
		font-family: 'Playfair Display', serif;
		color: $dark-blue-50;
		text-align: left;
		line-height: 1.7;
		margin: 10px auto 30px;

		&:first-of-type:first-letter {
			font-size: 3.2rem;
			float: left;
			margin-top: 12px;
			margin-right: 10px;
			font-weight: 700;
			line-height: 0.6;
		}
	}
}

//-------------------------------------
//	NEXT PROJECT
//-------------------------------------
.next-project__wrapper {
}

//-------------------------------------
//	FOOTER
//-------------------------------------
.project-page footer,
.menu__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 50px;
	line-height: 38px;

	.links {
		position: initial;
		margin: auto 20px;
		text-align: center;
		height: auto;
	}
}

.footer__contact {
	span:after {
		content: '';
		display: inline-block;
		width: 30px;
		height: 1px;
		background: $dark-blue-10;
		margin: 0 15px 2px 10px;
	}

	.contact__link {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		line-height: 24px;
		background: #fff;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 10px $dark-blue-10;
		@include transition(box-shadow 0.4s ease-in-out);

		&:after {
			content: '';
			position: absolute;
			width: calc(100% + 10px);
			height: calc(100% + 10px);
			border-radius: 50%;
			border: 1px solid $dark-blue-05;
			top: 0;
			left: 0;
			@include transform(translate(-6px, -6px));
			@include transition(border 0.4s ease-in-out);
		}

		&:hover {
			box-shadow: 0 0 10px $dark-blue-20;

			&:after {
				border-color: $dark-blue-10;
			}
		}
	}

	a {
		position: relative;
		z-index: 30;
		width: 24px;
		height: 24px;
		text-align: center;
		padding-left: 2px;

		&:hover {
			@include animation(1.5s contact ease-in-out);
		}
	}
}
