//-------------------------------------
//	VARIABLES
//-------------------------------------

/*------------------------
  Fonts
------------------------*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i,700,900');

/*------------------------
  Colors
------------------------*/
$primary-color: #2286B6;

$dark-blue-80: rgba(6,10,46,0.8);
$dark-blue-50: rgba(6,10,46,0.5);
$dark-blue-30: rgba(6,10,46,0.3);
$dark-blue-20: rgba(6,10,46,0.2);
$dark-blue-10: rgba(6,10,46,0.1);
$dark-blue-05: rgba(6,10,46,0.05);

$behance: #0057ff;
$dribbble: #ea4c89;
$linkedin: #0077B5;
