// -----------------------------------
//
//	VARIABLES
//
// -----------------------------------

//-------------------------------------
//	FONTS
//-------------------------------------
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900');

@font-face {
	font-family: 'butler_stencilextrabold';
	src: url('../font/butler_extrabold_stencil-webfont.woff2') format('woff2'),
		url('../font/butler_extrabold_stencil-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

//-------------------------------------
//	COLORS
//-------------------------------------
// $primary-color: #2286b6;
$primary-color: #333366;
$secondary-color: #ed866e;
$transition: #f2f2f4;

//-- Blacks
$dark-blue-80: rgba(6, 10, 46, 0.8);
$dark-blue-50: rgba(6, 10, 46, 0.5);
$dark-blue-30: rgba(6, 10, 46, 0.3);
$dark-blue-20: rgba(6, 10, 46, 0.2);
$dark-blue-10: rgba(6, 10, 46, 0.1);
$dark-blue-05: rgba(6, 10, 46, 0.05);

//-- Project's color
$project-01: #cd3557;
$project-02: #f59e64;
$project-03: #5691FF;
$project-04: #5dd5c3;

//-- Project's gradient
$gradient-primary: linear-gradient(45deg, rgba(51, 51, 102, 0.7), #333366);
$gradient-project-01: linear-gradient(45deg, #cd3557, #d75d79);
$gradient-project-02: linear-gradient(45deg, #f59e64, #eb5160);
$gradient-project-03: linear-gradient(45deg, #5691FF, #3872E0);
$gradient-project-04: linear-gradient(45deg, #1d7d90, #5dd5c3);

//-- Social network's color
$behance: #0057ff;
$dribbble: #ea4c89;
$linkedin: #0077b5;
