.container-fluid.project-slider {
	padding: 40px 0;
	margin-top: 210px !important;
	width: 100%;
	text-align: center;
	background-color: rgba(6, 10, 46, 0.05);
}

.slider__content {
	margin-top: calc((-40px - 70px) - 47px);
	/* // - Padding - decalage - taille titre */
}

#image-carousel {
	width: 60vw;
	/* height: 400px; */
	border-radius: 0;
	/* overflow: hidden; */
}

.slider__wrapper {
	position: relative;
}

#image-carousel .handle {
	/* width: 300%; */
	/* height: 100%; */
	border-radius: 0;
}

.slider__pictures {
	position: absolute;
	width: calc((60vw * 3) + (50px * 3));
	display: flex;
	left: calc(50% - (60vw / 2) - 25px);
	/* @include transition(transform 0.6s cubic-bezier(0.65, 0.03, 0.5, 0.99)); */
}

h4 {
	text-align: center;
	font-weight: 600;
	margin: 0 0 30px 0;
}

img {
	width: 100%;
	border-radius: 4px;
}

.slide {
	width: 60vw;
	margin: 0 25px;
}

#image-carousel .handle .slide {
	float: left;
	position: relative;
	/* width: 33.333%; */
	/* height: 100%; */
	background-repeat: no-repeat;
	background-position: center center;
}

#image-carousel .handle .img1 {
	background: #f59e64;
}

#image-carousel .handle .img2 {
	background: #2c3037;
}

#image-carousel .handle .img3 {
	background: crimson;
}

#image-carousel .handle .slide .info {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 10px 15px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}
